
    *{
        padding: 0;
        margin:0;
    }


nav{
background-color: green;
padding:0 35px;
height: 125px; 
width: 100%;
}
.logo{
color:white;
font-size: 3vw;
font-weight: bold;
text-transform: uppercase;
font-family: sans-serif;
margin-top: 0%;
width: 100%;

}




.hymn{
position: center;

}
.hymn p{
  padding: 50px 15px 15px 15px;
  
  
}


    
    body{color:#ffffff
    
    }

     
.sidebar{
    height: 80%;
    width: 250px;
    position: absolute;
    z-index: 1;
    left: -250px;
    top: auto;
    background-color: maroon;
    overflow-x: hidden;
    padding-top: 20px;
    max-width: 1200px;
    margin: auto;
    transition: all .5s ease;

}
.sidebar a{
    padding: 50px 10px 10px 50px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color:whitesmoke;
    transition: 0.6s ease;
}
.sidebar a:hover{
    color: green;
    background-color: white;
}
.aboutUs{
    box-shadow: 0px 0px 6px maroon;
    left: 20%;
    border-radius: 4px;
    width:80%;
    margin:0 auto;
    margin-top:80px;
  }
  .aboutUs p{
    padding: 15px 15px 20px 20px;
    margin: 10px 0;
    width: 100%;
  }
  @media (max-width:767px){
    .aboutUs{
      width:90%;
    }
  }

  .gallery{
    margin-left: auto;
    width: 80%;
    
  }
  .gallery img{
      transition: 1s;
      padding: 15px;
      width: 210px;
      filter: grayscale(100%);
      
  }
  .gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);

  }
  .wrapper{
    width: 1170px;
    margin:0 auto;
    font-size: 2vw;
    right: 0%;
}
.wrapper h2{
  text-align: center;
  width: 90%;
  right: 0%;
}
.mv{
  width: 92%;
  max-width: 90%;
  height: 500px;
  position: absolute;
  top:auto;
  background-image: url(mission.jpg);
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  right: 0%;
}
.mv h2{
  padding-top: 5% ;
font-size: 5vw;
font-family: poppins;
text-transform: uppercase;
right: 0%;
}

.mission-area{
  width: 100%;
  position: relative;
  top: 500px;
  background: #ddd;
  height: 1500px;
  color: black;
  text-align: center;
  
}
 .welcome{
   text-align: center;
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:100%;
 }
 .welcome span{
   color: maroon;
   font-family: sans-serif;
   text-transform: uppercase;
   display: block;
 }
 .text1{
   font-size: 5vw;
   font-weight: 700;
   letter-spacing: 8px;
   margin-bottom: 20px;
   position: relative;
   animation: text 3s 1;
 }
  .text2{
    font-size: 4vw;
    letter-spacing: 8px;
  }
  @keyframes text{
    0%{
      color: green;
      margin-bottom: -40px;
    }
    30%{
      letter-spacing: 25px;
      margin-bottom: -40px;
    }
    85%{
      letter-spacing: 10px;
      margin-bottom: -40px;
    }
  }
  .body-post{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background: wheat;
  }
  .imgBx{
    position: fixed;
    top: 50%;
    left:40%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background: green;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,5);
    
  }
  .imgBx1{
    position: fixed;
    top: 6%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background: green;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,5);
    
  }

  .body-post{
    box-sizing: border-box;
    
    
  }
 
  .post1{
    border: 2px solid;
    border-color: maroon;
    border-radius: 4px;
    
    
  }

  .post1 img{
    width: 100%;
    height: auto;
    
  }
  .des{
    padding: 20px;
    text-align: center;
    color: black;
    
  }

  .post{
    right: 10%;
    padding:5px;
    float: right;
    margin-left:0;
    width:22%;
    border-radius: 4px;
    align-self: auto;
  }
 .h2css{
   color: black;
   font-size: 3vw;
   text-align: center;
   text-transform: uppercase;
   background-color: wheat;
   width: 100%;
 }

 @media only screen and (max-width:900px){
  .post{
      width: 100%;
      margin: 6px 0;
  }
}

@media only screen and (max-width:700px){
  .post{
      width: 100%;
      
  }
}
#check{
  
  display: none;

}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  background: maroon;
  border-radius: 3px;
  top: auto;
}
label #btn{
  left: 40px;
  top:auto;
  font-size: 35px;
  color:white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: auto;
  font-size: 30px;
  color: white;
  padding: 4px ;
  transition: all .5s ease;
}
#check:checked~.sidebar{
  left: 0;
}
#check:checked~label #btn{
  left: 250px;
  
}
#check:checked~label #cancel{
  left: 195px;
  
  
}
